{"plugins": [
    ["module:react-native-dotenv", {
      "envName": "APP_ENV",
      "moduleName": "@env",
      "path": ".env",
      "blocklist": null,
      "allowlist": [
        "API_URL",
        "API_TOKEN"
      ],
      "safe": false,
      "allowUndefined": true,
      "verbose": false
    }]
  ]
}